header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: $headerHeight;
    font-size: 15px;
    background-color: lighten($primaryColor, 25);
    opacity: 0.9;
    z-index: 1000;
}