<% include layout/header.ejs %>

<body>
  <form method="POST">
    <input type="text" name="createdHead"> <br>
    <textarea name="createdBody" cols="30" rows="10"></textarea><br>
    <button>Submit!</button>
  </form>
</body>

<% include layout/footer.ejs %>