<% include layout/header.ejs %>

<body>
  <a href="/create">Click me</a><br>
  <h2>My Texts:</h2>
  <% texts.forEach((text) => { %>
  <li>
    <b>
      <%= text.header %>
    </b>
    <br>
    <%= text.body %>
    <br>
  </li>
  <br>
  <% }) %>
</body>

<% include layout/footer.ejs %>